.hero-unit
  .row-fluid
    #alert_placeholder2
  .row-fluid
    .span3
      .hero-unit2
        %center
          %h3 #{us.name}   
          %table{:border => "1"}
            %tr
              %td
                %img.profile{:src => "#{us.image}", :alt => "imagen de perfil"}
    .span9
      .hero-unit2  
        %h3 Administraci贸n
        %br
        %ul
          %li 
            %h4 
              %a{:href => "/admin/users"}Gesti贸n de usuarios
          %li
            %h4 
              %a{:href => "/admin/subjects"}Gesti贸n de asignaturas
          %li
            %h4 Gesti贸n de archivos
        %br
        %a.btn.btn-warning{:href => "/"} Regresar