.container 
  .hero-unit
    .hero-unit2
      %center
        %h2 Gestión de archivos
        %br
      %h3 Listado:
      - Files.all.each do |f|
        %li 
          #{f.filename} (
          #{f.subject}
          ) - [
          %a{:href => "/admin/files/delete/#{f.id}"} Borrar
          ]
      %br
      %br
      %a{:href => "/admin/files/delete_all"}Borrar todos
      %center
        %a{:href => "/admin/panel"} Regresar
        %a{:href => "/"} Salir