.container 
  .hero-unit
    .hero-unit2
      %center
        %h2 Gestión de asignaturas
        %br
      %a{:href => "/admin/subjects"}Añadir asignatura
      %br
      %br
      %h3 Listado:
      %h3 Primero
      - Subject.all.each do |a|
        - if a.course == 1
          %li 
            #{a.subjectname} - [
            %a{:href => "/admin/subjects"}Editar
            ,
            %a{:href => "/admin/subjects"} Borrar
            ]
      %br
      %h3 Segundo
      - Subject.all.each do |a|
        - if a.course == 2
          %li 
            #{a.subjectname} - [
            %a{:href => "/admin/subjects"}Editar
            ,
            %a{:href => "/admin/subjects"} Borrar
            ]
      %br
      %h3 Tercero
      - Subject.all.each do |a|
        - if a.course == 3
          %li 
            #{a.subjectname} - [
            %a{:href => "/admin/subjects"}Editar
            ,
            %a{:href => "/admin/subjects"} Borrar
            ]
      %br
      %h3 Cuarto
      - Subject.all.each do |a|
        - if a.course == 4
          %li 
            #{a.subjectname} - [
            %a{:href => "/admin/subjects"}Editar
            ,
            %a{:href => "/admin/subjects"} Borrar
            ]
      %br
      %a{:href => "/bbdd/destroy_subjects"}Borrar todas
      %center
        %a{:href => "/admin/panel"} Regresar
        %a{:href => "/"} Salir