.container 
  .hero-unit
    .hero-unit2
      %center
        %h2 Gestión de archivos
        %br
      %h3 Listado:
      - Subject.each do |sub|
        %h4
          = sub.subjectname
        - sub.filess.each do |file|
          %li 
            #{file.filename} - [
            %a{:href => "/admin/files/delete/#{file.id}"} Borrar
            ]
        %br
      %br
      %a{:href => "/admin/files/delete_all"}Borrar todos
      %center
        %a{:href => "/admin/panel"} Regresar
        %a{:href => "/"} Salir