%h1 Cambiar contrase単a
%br

%form{:action => "/change_pass", :method => "post"}
  Contrase単a actual
  %input{:type => "password", :name => "password"}
  %br
  
  Nueva contrase単a
  %input{:type => "password", :name => "new_password"}
  %br
  
  Repita la nueva contrase単a
  %input{:type => "password", :name => "repeat_new_password"}
  %br
  
  %button{:type => "submit"} Aceptar
  %br
%br
%a{:href => "/"} Regresar