%h2 
	%u Contacto

%font{:size => "3"}
	%li
		%b Administrador: 
		Uriel Sánchez Guindulain
	%li
		%b Equipo de desarrollo:
		%ul
			%ul
				%li Sergio Jesús García Llarena
				%li Juan José Labrador González
				%li Domingo Yeray Rodríguez Martín
				%li Rodrigo Carpintero Díez
	%p
		%a{:href => "/"} Regresar