.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.brand{:href => "/"} "LOGO"
      %ul.nav
        %li
          %a{:href => "/inbox"} Mensajes
        %li
          %a{:href => "/subjects"} Asignaturas
        %li
          %a{:href => "/help"} Ayuda
      %ul.nav.pull-right
        %li.divider-vertical
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            "username"
            %b.caret
          %ul.dropdown-menu  
            %li
              %a{:href => "/profile"} Ver perfil
            %li.divider
            %li
              %a{:href => "/logout"} Cerrar sesión
      %form.navbar-search.pull-right{:action => "/search", :method => "post"}
        %input.search-query{:placeholder => "Buscar...", :name => "cadena", :type => "text", "data-provide" => "typeahead", "data-items" => "5", "data-source" => "#{"[\"#{@names.join('","')}\"]"}" }
