%h1 Login
%form(action="login" method="POST")
  %label(for="nombre") Nombre
  %input(type="text" name="name")
  %br

  %label(for="password") Contraseña
  %input(type="password" name="password")
  %br
  %input(type="submit")
  %br
%p
%h2 
  ¿Eres nuevo?
  %a{:href => "/signup"} ¡Registrate ahora!

