%h3 Resultados de la búsqueda

- encontrado = false
%ol
  - usu.each do |k| 
    %li
      %h4
        - encontrado = true
        %a{:href => "/user/#{k.id}"} #{k.username}
%br

- if !encontrado
  %h4 No se han encontrado resultados

%br
%font{:size => "4"}
  %a{:href => "/search"} Nueva búsqueda
  %br
  %br
  %a{:href => "/"} Regresar