%h3 Resultados de la búsqueda

- encontrado = false
- usu.each do |k| 
  - if k.username =~ /^.*#{params[:key].to_s}.*$/ && params[:key].to_s.length > 1 && myid != k.id
    %ol
      %li
        %h4
          - encontrado = true
          %a{:href => "/user/#{k.id}"} #{k.username}
%br

- if !encontrado
  %h4 No se han encontrado resultados

%br
%font{:size => "4"}
  %a{:href => "/search"} Nueva búsqueda
  %br
  %br
  %a{:href => "/"} Regresar