.row-fluid
  #alert_placeholder
%form{:action => "/send_message/#{id}", :method => "post"}
  %input.span12{:placeholder=>"Mensaje", :type=>"text", :name=>"body", :id => "body", :onChange=>"checkEnableSubmit();", :onKeyUp=>"checkEnableSubmit();"}

  %span
    %button.btn.btn-primary{:type => "submit", :disabled => "disabled", :id => "confirm"}Enviar
  %span
    %button.btn.btn-danger{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancelar 
