%h1 Create a new user
%form(action="signup" method="POST")
  %label(for="nombre") Nombre
  %input(type="text" name="name")
  %br

  %label(for="email") Email
  %input(type="text" name="email")
  %br

  %label(for="password") Contraseña
  %input(type="text" name="password")
  %br
  %input(type="submit")
  %input(type="reset")
  %br


