.hero-unit
  .hero-unit2
    %h3 #{sub.subjectname}
    %h4 Archivos
    %a.btn.btn-success{:href => "/upload"} Compartir un archivo
    %a.btn.btn-success{:href => "/download"} Descargar un archivo

